{% extends 'base.html' %}

{% load static %}
{% load get_item %}

{% block header %}
  <button popovertarget='sidebar-popover'  class="openbtn" >Computer Aided Design &#9776; </button>
{% endblock %}

{% block content %}
  <!-- <button type="submit" class="button" name="toggle_hidden">TOGGLE HIDDEN</button> -->
  <!-- {% for group in user.groups.all %} -->
  <!--   {{ group }} -->
  <!-- {% endfor %} -->
  <!--   <hr> -->
    <div class="grid-container">
      {% for item in data %}
              {% if item.is_active %}
                <div class="grid-item-active">
              {% else %}
                <div class="grid-item-inactive">
              {% endif %}
                  <a class="gallery" href="/object_view?object={{ item.id }}">
                    <img alt="Render of House A" class="cards" src="{% static 'images/house_1.png' %}" />
                  </a>
                  <h4>{{ item.description }}</h4>
                    <p class="tag">Render of Hochbau</p>
                    <p class="text_column">Filename: {{ item.document }}<br>Total Area: 200m<br>Energyclass: A</p>

                    <form class='action-form' action="#" method="get" id={{ item.id }}>
                      {% if not item.is_active %}
                          <button type="submit" class="button fa fa-eye" value={{ item.id }} name="toggle"></button>
                      {% else %}
                          <button type="submit" class="button fa fa-eye-slash" value={{ item.id }} name="toggle"></button>
                      {% endif %}
                      <button type="submit" class="button fa fa-trash" value={{ item.id }} name="delete"></button>
                    </form>
                </div>
      {% endfor %}

    </div>
{% endblock %}
