{% extends 'base.html' %}

{% load static %}
{% load get_item %}

{% block header %}

{#    <button class="openbtn" onclick="openNav()">Computer Aided Design &#9776; </button>#}

{% endblock %}

{% block content %}


    <div class="object-view">
        <img alt="" class="cards" src="{% static 'images' %}/house_1.png" width="2000">
        <h4>{{ item.description }}</h4>
        <p class="tag">Render of Hochbau</p>
        <p class="text_column">Filename: {{ item.document }}<br>Total Area: 200m<br>Energyclass: A </p>
        {% for item in data %}
          {{ item.properties|safe }}
        {% endfor %}
    </div>

{% endblock %}
