beautifulsoup4
daphne
channels
django
django-debug-toolbar
django-extensions
django-stubs
django-htmx
gunicorn
Jinja2
jupyter
lark
lxml
MarkupSafe
matplotlib
numpy
psycopg[binary,pool]
requests
shapely
sphinx
uvicorn
werkzeug
ifcopenshell
drf-spectacular