beautifulsoup4
celery
channels
django
django-debug-toolbar
django-extensions
django-stubs
gunicorn
#git+https://github.com/IfcOpenShell/IfcOpenShell
ifcopenshell
Jinja2
jupyter
lark
lxml
MarkupSafe
matplotlib
numpy
psycopg[binary,pool]
requests
shapely
sphinx
uvicorn
werkzeug
zstandard
mathutils
bpy