beautifulsoup4
celery
daphne
channels
django
django-debug-toolbar
django-extensions
django-stubs
django-celery-results
django-htmx
gunicorn
Jinja2
jupyter
lark
lxml
MarkupSafe
matplotlib
numpy
psycopg[binary,pool]
requests
shapely
sphinx
uvicorn
werkzeug
mathutils
celery[redis,auth,msgpack,gevent]
ifcopenshell