{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {# Global annotations #}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    {# Language information #}
    <link rel="alternate" hreflang="de" href="" />
    <link rel="alternate" hreflang="en" href="/en" />

    {# Reusable resources #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    {# TODO Fix favicon not loading on safari #}
    <!-- SVG Favicon for modern browsers -->
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/svg+xml">

    <!-- PNG Fallback for older browsers -->
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" sizes="32x32">

    <!-- Apple Touch Icon for iOS -->
    <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}">

    <!-- Safari Pinned Tab Icon -->
    <link rel="mask-icon" href="{% static 'images/favicon.svg' %}" color="#5bbad5">

    <!-- TODO Implement this maybe? -->
    <!-- <link rel="manifest" href="https://www.herzzentrum18.at/site.webmanifest"> -->

    {# Metadata #}
    <title>Building Comparison Report</title>

    <meta name="description" content="Cadevil - Computer Aided Design." />
    <meta name="author" content="Iulia Radynska" />

    <meta property="og:title" content="Computer Aided Design and Building Comparison." />
    <meta property="og:site_name" content="herzzentrum18.at"/>
    <meta property="og:url" content="https://herzzentrum18.at/" />
    <meta property="og:description" content="Cadevil - Computer Aided Design and Building Comparison." />
    <meta property="og:image" content="https://herzzentrum18.at/images/fb-share.jpg" />



</head>

<body>
    <header>
      <button popovertarget='menu-popover' class='menu-button'>
        <img alt="Menu Button" class="menu_icon" src="{% static 'images' %}/favicon.svg">
      </button>

      {% block header %}
      {% endblock %}

  </header>
    <div popover class="popover-big" id="sidebar-popover" >
        <div class="sidebar-content" id="sidebar-content">
            <ul>

                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                      <label for="id_description">Description:</label><br>
                      <input type="text" name="description" maxlength="255" id="id_description">
                    </div>
                    <div>
                      <input class="button-wide" type="file" name="document" required="" id="id_document">
                    </div>

                    <button class="button-wide" type="submit">Upload</button>
                </form>
                {% for item in files %}
                    <li>
                        <form action="#" method="get" id={{ item.id }}>
                            <h5>
                                {# Indicate item is currently disabled TODO communicate that more clearly #}
                                {% if not item.is_active %} <s>{% endif %}
                                    {{ item.description }}
                                {% if not item.is_active %}</s>{% endif %}

                                {% if not item.is_active %}
                                    <button type="submit" class="button fa fa-eye" value={{ item.id }} name="toggle"></button>
                                {% else %}
                                    <button type="submit" class="button fa fa-eye-slash" value={{ item.id }} name="toggle"></button>
                                {% endif %}

                                <button type="submit" class="button fa fa-bolt" value={{ item.id }} name="calculate"></button>
                                <button type="submit" class="button fa fa-trash" value={{ item.id }} name="delete"></button>
                            </h5>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div popover class='popover-small' id='menu-popover'>
        {% if user.is_authenticated %}
          <a href="/accounts/user?id={{ user.id }}">
            <button class='button-wide fa fa-id-card'>
                {{ user.username }}
            </button>
          </a>

          <a href="/admin">
            <button class='button-wide fa fa-shield'>
                    Admin
            </button>
          </a>

          <a href="/model_manager ">
            <button class='button-wide fa fa-list'>
               Model Manager
            </button>
          </a>

          <a href="/model_comparison">
            <button class='button-wide fa fa-balance-scale'>
                    Model Comparison
            </button>
          </a>

          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class='button-wide fa fa-sign-out' type="submit">Log Out</button>
          </form>
        {% else %}

          <a href="{% url 'login' %}">
            <button class='button-wide fa fa-sign-in'>
                    Log In
            </button>
          </a>
        {% endif %}
    </div>

        <main>
            <!-- Main Container -->
            {% block content %}{% endblock %}

        </main>
            <!-- Footer Section -->
            <!-- Copyrights Section -->
            <!-- Main Container Ends -->
            <footer class="footer">
                <div class="copyright">&copy; {% now 'Y' %} - <strong>Yulia</strong></div>
            </footer>

</body>
</html>
