{% extends 'base.html' %}

{% load static %}
{% load get_item %}

{% block header %}


{% endblock %}
{% block content %}

            {% for item in data %}
                {% if item.is_active %}
                    {{ item.properties|safe }}
                    <a class="thumbnail" href="/object_view?object={{ item.id }}">
                       <img alt="Render of House A" class="cards" src="{% static 'images/house_1.png' %}" />
                        <h4>{{ item.description }}</h4>
                          <p class="tag">Render of Hochbau</p>
                          <p class="text_column">Filename: {{ item.document }}<br>Total Area: 200m<br>Energyclass: A
                        </p>
                    </a>
                {% endif %}
            {% endfor %}
    <section class="objects">
    </section>
    <table class="table" title="Object View" onscroll="this">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
{#        {% for item in data %}#}
{#            {% if item.is_active %}#}
{#                {% for property in item.materials %}#}
{#                    <tr>#}
{#                        <td>#}
{#                            <p class="text_column">{{ property }}: {{ item.materials|get_item:property }}€</p>#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        {% endfor %}#}

        </tbody>


    </table>
    {#    <div>#}
    {#        {%for i in range(0, web_methods.chart_number)%}#}
    {#        <br>#}
    {#        <h3 class="subheader">{{web_methods.chart_list[i][1]}}</h3>#}
    {##}
    {#        <div class="card">#}
    {#            <a><img alt="" class="img-fluid" src="/images/{{ web_methods.chart_list[i][0] }}"/></a>#}
    {#        </div>#}
    {#        <br>#}
    {#        {%endfor%}#}
    {#    </div>#}
    <!-- Footer Section -->
    <!-- Copyrights Section -->
    {#</div>#}
    <!-- Main Container Ends -->
{% endblock %}
