{% extends 'base.html' %}

{% load static %}
{% load get_item %}
{% load render_svg %}
{% load concat %}

{% block header %}

{#    <button class="openbtn" onclick="openNav()">Computer Aided Design &#9776; </button>#}

        <!--<h4>{{ item.description }}</h4>-->
{% endblock %}

{% block content %}

    <div class="flexgrid-container">
        <img alt="Render of {{ data.description }}" class="thumbnail-large" src="{% static 'images' %}/house_1.png">

        <div class="flex-item-active">
                <h4> Stockwerke </h4>
            {{ building_metrics.stockwerke|render_svg|safe }}
        </div>
        <div class="flex-item-active">
            <h4> Energie Bewertung </h4>
            {{ building_metrics.energie_bewertung|render_svg|safe }}
        </div>

        <div class="flex-item-active">
            <h4> Grundstücksfläche </h4>
            {{ building_metrics.netto_raumfläche|floatformat:2|concat:building_metrics.grundstuecksfläche_unit|render_svg|safe }}
        </div>
    </div>
    <div>
        {% for plot in html_plot %}
            <div class="flex-item-active">
                {{ plot |safe }}
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}