{% extends 'base.html' %}

{% load static %}
{% load get_item %}

{% block header %}

{#    <button class="openbtn" onclick="openNav()">Computer Aided Design &#9776; </button>#}

{% endblock %}

{% block content %}

    {% for item in data %}
        <h4>{{ item.description }}</h4>
        <div class="flexgrid-container">
            <img alt="" class="thumbnail-large" src="{% static 'images' %}/house_1.png" width="2000">
                <div class="flexgrid-item">
                    <table>
                        <tr>
                            <th colspan="2">Property</th>
                        </tr>
                        {% for key in item.properties %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ item.properties|get_item:key|format_item}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="flexgrid-item">
                    <table>
                        <tr>
                            <th colspan="2">Materials</th>
                        </tr>
                        {% for key in item.materials %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ item.materials|get_item:key}}</td>
                            </tr>
                        {% endfor %}
                    </table>                </div>

        </div>
    {% endfor %}
{% endblock %}