{% extends 'base.html' %}

{% load static %}
{% load get_item %}

{% block header %}

{#    <button class="openbtn" onclick="openNav()">Computer Aided Design &#9776; </button>#}

        <!--<h4>{{ item.description }}</h4>-->
{% endblock %}

{% block content %}

    <div class="flexgrid-container">
        <img alt="" class="thumbnail-large" src="{% static 'images' %}/house_1.png" width="2000">

        <div class="flex-item-active">
                <h4> Stockwerke </h4>
            {{building_metrics.stockwerke}}
        </div>
        <div class="flex-item-active">
            <h4> Energie Bewertung </h4>
            {{building_metrics.energie_bewertung}}
        </div>

        <div class="flex-item-active">
            <h4> Grundstücksfläche </h4>
                {{building_metrics.netto_raumfläche|floatformat:2}}{{building_metrics.grundstuecksfläche_unit}}
        </div>
    </div>
    <div>
        {{ html_plot |safe }}
    </div>
{% endblock %}